# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.read
*.iml

# System
.atom/
.history
.svn/
migrate_working_dir/

# macOS
.DS_Store

# Swift / Xcode
.swiftpm/

# IntelliJ / Android Studio
.idea/
*.iws
*.ipr

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/build/
**/ios/Flutter/.last_build_id
**/doc/api/

# Android artifacts
android/app/debug
android/app/profile
android/app/release

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# VS Code (optional – uncomment if you don't want to sync settings)
# .vscode/
